/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
                                        1500px 
                                        /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media only screen and (max-width: 1500px){
    #artist .container .row .col1{
        background-position: center;
    }
    #artist .container .row .col2{
        font-size: 1.3rem;
    }
    #contact .container .row .col2{
        width: 500px;
    }    
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
                                        1190px 
                                        /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media only screen and (max-width: 1190px){
    .navbar .nav-links ul li a{
        margin-left: 60px;
    }
    .navbar .logo{
        margin-right: 30px;
    }
    #contact .container .row .col1{
        padding: 5% 5%;
    }
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
                                        1060px 
                                        /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media only screen and (max-width: 1060px){
    .navbar .nav-links ul li a{
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .navbar .logo{
        margin-right: 10px;
    }
    #artist .container{
        margin: 3%;
    }
    #artist .container .row .col2{
        font-size: 1.1rem;
    }
    #contact .container .row .col2{
        width: 300px;
    }
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
                                        860px 
                                        /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media only screen and (max-width: 860px){
    .navbar{
        grid-template-columns: auto auto;
        padding-bottom: 30px;
        overflow: hidden;
        height: 60px;
    }
    .navbar .nav-links ul{
        display: block;
        margin-top: 60px;
    }
    #menu-bar{
        display: block;
    }
    .navbar .signup{
        transform: translate(130px,10px);
    }
    #check-btn:checked ~ .navbar{
        height: 350px;
    }
    #artist .container .row .col2{
        font-size: .9rem;
    }
    .slides{
        height: 250px;
    }
    .slide-content{
        font-size: .9em;
    }
    .slide-img img{
        margin: 20px;
        height: 150px;
        height: 150px;
    }
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
                                        700px 
                                        /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media only screen and (max-width: 700px){
    #home .container .home-text{
        width: 70%;
    }
    #home .container .home-text h1{
        font-size: 4em;
    }
    #artist .container .row{
        display: block;
    }
    #artist .container .row .col1{
        height: 300px;
    }
    #artist .container .row .col2{
        margin: 20px 0px;
    }
    .slide-content{
        font-size: .6em;
    }
    .slide-img img{
        margin: 20px;
        height: 150px;
        height: 150px;
    }
    #contact .container .row .col2{
        width: 220px;
    }
    #footer .container .row{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 40px 0;
    }
    #footer .container .row ul{
        border-bottom: 1px solid rgba(255, 255, 255, 0.063);
        padding-bottom: 40px;
    }
    #footer .container .last-row .fa{
        font-size: 1em;
        margin-left: 20px;
    }
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
                                        585px 
                                        /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media only screen and (max-width: 585px){
    #contact .container .form-grid{
        grid-template-columns: auto;
        margin-top: 20px;
    }
    #contact .container .form-grid input,select{
        width: 100%;
        padding: 5px 20px;
    }
    #contact .container textarea{
        width: 100%;
        height: 50px;
        padding: 5px 20px;
    
    }
    #footer .container .row{
        display: grid;
        grid-template-columns: auto auto;
        padding: 40px 0;
    }
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
                                        500px 
                                        /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media only screen and (max-width: 500px){
    #home .container{
        padding: 100px 0;
    }
    #home .container .home-text h1{
        font-size: 3.5em;
    }
    #home .container .home-text h5{
        font-size: 1em;
    }
    .slides{
        height: 300px;
    }
    .slide-content{
        display: inline-block;
        font-size: .8em;
        position: relative;
    }
    .slide-text{
        margin-top: -30%;
        margin-left: 20%;
        position: absolute;
        background: rgba(255, 255, 255, 0.74);
        height: 100%;
        padding: 5px;
    }
    #contact .container .row .col2{
        width: 150px;
    }
    #footer .container .last-row .fa{
        margin-left: 10px;
    }
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
                                        400px 
                                        /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media only screen and (max-width: 400px){
    #home .container{
        padding: 50px 0;
    }
    #home .container .home-text h1{
        font-size: 2em;
    }
    #home .container .home-text h5{
        font-size: 1em;
    }
    #home .container .home-text button{
        padding: 10px 14px;
    }
    .slides{
        height: 350px;
    }
    #contact .container .row .col2{
        width: 100px;
        background-position: 40%;
    }
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
                                        350px 
                                        /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media only screen and (max-width: 350px){
    .slides{
        height: 400px;
    }
    #footer .container .row{
        display: grid;
        grid-template-columns: auto;
        padding: 40px 0;
    }
    #footer .container .row ul{
        text-align: center;
    }
}
/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% 
                                        300px 
                                        /*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
@media only screen and (max-width: 300px){
    .navbar .nav-links ul{
        margin-left: -80px;
    }
    .navbar .signup{
        transform: translate(50px,10px);
    }

}